* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    border:0;
}

body {
    overflow-x:hidden;
    margin-bottom:10vh;
}

#progress-bar {
    width:0%;
}
.step:not(#step-1) {
    display:none;
}
.fa-info-circle {
    cursor:pointer;
}